{% extends 'base.html.twig' %}

{% block body %}
    <h1>Landing list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Status</th>
                <th>Position</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Application</th>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for landing in landings %}
            <tr>
                <td><a href="{{ path('landing_show', { 'id': landing.id }) }}">{{ landing.name }}</a></td>
                <td>{{ landing.slug }}</td>
                <td>{{ landing.status }}</td>
                <td>{{ landing.position }}</td>
                <td>{{ landing.latitude }}</td>
                <td>{{ landing.longitude }}</td>
                <td>{{ landing.application }}</td>
                <td>{{ landing.id }}</td>
                <td>{% if landing.createdAt %}{{ landing.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if landing.updatedAt %}{{ landing.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if landing.deletedAt %}{{ landing.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('landing_show', { 'id': landing.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('landing_edit', { 'id': landing.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('landing_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
