{% extends 'base.html.twig' %}

{% block body %}
    <h1>Landing</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ landing.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ landing.slug }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ landing.status }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ landing.position }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ landing.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ landing.longitude }}</td>
            </tr>
            <tr>
                <th>Application</th>
                <td>{{ landing.application }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ landing.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if landing.createdAt %}{{ landing.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if landing.updatedAt %}{{ landing.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if landing.deletedAt %}{{ landing.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('landing_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('landing_edit', { 'id': landing.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
