{% extends 'base.html.twig' %}

{% block body %}
    <h1>City</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ city.slug }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ city.status }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ city.position }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ city.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ city.longitude }}</td>
            </tr>
            <tr>
                <th>Vattax</th>
                <td>{{ city.vatTax }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ city.content }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if city.createdAt %}{{ city.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if city.updatedAt %}{{ city.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if city.deletedAt %}{{ city.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('city_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('city_edit', { 'id': city.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
