{% extends 'base.html.twig' %}

{% block body %}
    <h1>Country list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Status</th>
                <th>Id</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td><a href="{{ path('country_show', { 'id': country.id }) }}">{{ country.name }}</a></td>
                <td>{{ country.slug }}</td>
                <td>{{ country.status }}</td>
                <td>{{ country.id }}</td>
                <td>{% if country.createdAt %}{{ country.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if country.updatedAt %}{{ country.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if country.deletedAt %}{{ country.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('country_show', { 'id': country.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('country_edit', { 'id': country.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('country_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
